<?xml version="1.0" encoding="utf-8"?>
<launch>

  <arg name="sim" default="false" />
  <arg name="topic_json" default="$(find behavior_tree)/data/default.json" />

  <group if="$(arg sim)">
    <node name="action_client"
          pkg="complex_action_client"
          type="arm_client_ur5.py"
          args="--sim"
          output="screen"
          required="true" />
  </group>
  <group unless="$(arg sim)">
    <node name="action_client"
          pkg="complex_action_client"
          type="arm_client_ur5.py"
          args=""
          output="screen"
          required="true" />
  </group>

  <node name="behavior_tree"
        pkg="behavior_tree"
        type="dynamic_behavior_tree.py"
        args="-s $(arg sim) -t $(arg topic_json)"
        output="screen"
        required="true" />
    
  
</launch>

