<?xml version="1.0" encoding="utf-8"?>
<launch>

  <arg name="sim" default="false" />
  <arg name="topic_json" default="$(find behavior_tree)/data/default.json" />

  <node name="behavior_tree"
      pkg="behavior_tree"
      type="dynamic_behavior_tree.py"
      args="-s $(arg sim) -t $(arg topic_json)"
      output="screen"
      required="true" >
  </node>

</launch>